<!-- Modal Section Start-->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modals-title  mb-0" id="exampleModalLabel">{{ 'Connect Wallet'|trans }}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="icon-x"></i></button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-20">{{ 'Please select a wallet to connect to this marketplace'|trans }}</p>
                        <div class="connect-section">
                            <ul class="heading-list">
                                <li><a href="#" class="connect-meta"><span><img src="{{ asset('assets/images/icons/meta-mask.png') }}" alt="Meta-mask-Image"></span>MetaMask</a></li>
                                <li><a href="#"><span><img src="{{ asset('assets/images/icons/coinbase.png') }}" alt="Coinbase-Image"></span>Coinbase</a></li>
                                <li><a href="#"><span><img src="{{ asset('assets/images/icons/trust.png') }}" alt="Trust-Image"></span>Trust Wallet</a></li>
                                <li><a href="#"><span><img src="{{ asset('assets/images/icons/wallet.png') }}" alt="Wallet-Image"></span>WalletConnect</a></li>
                            </ul>
                        </div>
                        <p>{{ 'By connecting your wallet, you agree to our'|trans }} <a href="#">
                            <span class="modal-title">{{ 'Terms of Service'|trans }} </span></a>{{ 'and our'|trans }} <a href="#">
                            <span class="modal-title"> {{ 'Privacy Policy'|trans }}</span></a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Section End-->


        <!-- Modal Section Start-->
        <div class="modal fade" id="download-metamask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modals-title  mb-0" id="exampleModalLabel">Connect Wallet</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="icon-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-20">{{ 'Please download and install metamask extension !'|trans }}</p>
                        <div class="connect-section">
                            <ul class="heading-list">
                                <li>
                                    <a target="_blank" href="https://metamask.io/download/">
                                        <span>
                                            <img src="{{ asset('assets/images/icons/meta-mask.png') }}" alt="Meta-mask-Image">
                                        </span>
                                        MetaMask
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Section End-->